<div class="row">
  <div class="col-md-6">
    <h3>April 2</h3>
    <table class="table table-striped">
      <!-- #### Temporarily comment-out survey until we get it set up #### <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr> -->
      <tr> <td>10:00</td>  <td>Install R, RStudio, and R packages</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>April 7</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Welcome</td> </tr>
      <tr> <td>10:10</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">Introduction to R and RStudio</a></td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/02-project-intro/index.html">Project Management with RStudio</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html">Seeking Help</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>April 9</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">Data Structures</a></td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html">Exploring Data Frames</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>April 14</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html">Subsetting Data</a></td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">Creating Publication-Quality Graphics with ggplot2</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>April 16</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">Creating Publication-Quality Graphics with ggplot2 (continued)</a></td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html">Producing Reports With knitr</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
